{%extends 'base.html.twig' %}

{% block title 'FlexUp' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1> Bienvenue sur FlexUP</h1>
        <p1>L'économie solidaire</p1>
        <div class="dropdown-divider"></div>
        <p2> Une plateforme de vente de biens et services couplée
				à un réseau d'entraide social et solidaire pour aider les
				entrepreneurs à lancer et développer leur activité
        </p2>
    </div>
    

{% endblock %}