<form method="post" action="{{ path('offered_prices_delete', {'idOffersPrice': offered_price.idOffersPrice}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offered_price.idOffersPrice) }}">
    <button class="btn">Delete</button>
</form>
