{%extends 'base.html.twig' %}

{% block title 'Page Issam' %}

{% block body %}

    <div class="container">
        <h1> Issam </h1>
        <a class="btn btn-outline-dark" href="{{ path('users_index') }}"> Users </a>
        <a class="btn btn-outline-dark" href=""> Groups </a>
        <a class="btn btn-outline-dark" href=""> Address </a>
        <a class="btn btn-outline-dark" href=""> Service </a>
        <a class="btn btn-outline-dark" href="#"> Category </a>
        <a class="btn btn-outline-dark" href=""> Zone de travaille </a>





    </div>
{% endblock %}