{% extends 'base.html.twig' %}

{% block title %}New TypeIdentifyDocument{% endblock %}

{% block body %}
    <h1>Create new TypeIdentifyDocument</h1>

    {{ include('type_identify_document/_form.html.twig') }}

    <a href="{{ path('type_identify_document_index') }}">back to list</a>
{% endblock %}
