{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"   href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}

{% block body %}


    <h1>Edit Users</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

    <a type="button" class="btn btn-primary" href="{{ path('users_index') }}">back to list</a>

    <a type="button" class="btn btn-danger" >{{ include('users/_delete_form.html.twig') }}</a>
{% endblock %}
